body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

#p {
    font-size: 60px;
}

h1 {
    font-size: 50px;
}

section {
    display: flex;
}

.half {
    width: 50%;
    padding-left: 5%;
}

.half img {
    width: 75%;
    padding-top: 5%;
    padding-left: 5%;
}

.hireme {
    text-decoration: none;
    background-image: linear-gradient(rgb(184, 33, 33), tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}

.page1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}