body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

#p {
    font-size: 60px;
}

h1 {
    font-size: 50px;
}

.all {
    display: flex;
    margin-bottom: 100px;
}

.half {
    width: 60%;
    padding-left: 5%;
    margin-top: 100px;
}

.half img {
    width: 75%;
    padding-top: 5%;
    padding-left: 5%;
}

.hireme {
    text-decoration: none;
    background-image: linear-gradient(rgb(6, 12, 213), tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}

.page1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.shadow {
    box-shadow: 10px 10px 50px black;
    width: 42%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 30px;
    border-radius: 10px;
}

.experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 120px;
    margin-bottom: 50px;
}

.ex {
    font-size: 65px;
    font-weight: 600;
}

.orange {
    color: orange;
}

#border {
    border-left: 10px solid rgb(9, 205, 127);
}

#border2 {
    border-left: 10px solid orangered;
}

footer {
    text-align: center;
}